@charset "UTF-8";

html, body, #home {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: url(imagens/capa.png),
                url(imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
}

.navbar-transparente {
    
    background: rgba(0, 0, 0, 0.6);
}

.navbar-texto{
    color: white!important;
}

.navbar-texto:hover {
    color: #9bf0e1!important;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px!important;
    text-transform: uppercase!important;
    transition: background 0.4s, color 0.4s!important;
    padding: 10px 20px!important;
    font-weight: 400!important;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

.texto-titulo {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
    font-family: Helvetica, sans-serif
}

#conteudo {
    background-color: white;
}


#conteudo div h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #7c25f8;
}

#conteudo div h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #7c25f8;
}


.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

#conteudo-2 div h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
}

#conteudo-2 div h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #9bf0e1;
}

#conteudo-2 p {
    color: white;
}

#rodape {
    background-color: #000;
    padding: 20px 0 20px 0;
    position: relative;
    
}

#rodape div h4 {
    color: #919496;
    font-size: 1em;
    text-transform: uppercase;
}

#rodape div ul li a {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

#rodape div ul li a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%!important;
    margin: 0px!important;
   
}









/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btn-custom {
        margin: 10px 15px;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .texto-titulo {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .texto-titulo {
        font-size: 4em;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .texto-titulo {
        font-size: 5em;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .texto-titulo {
        font-size: 6em;
    }
 }